h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  box-sizing: border-box;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*ADDRESS SECTION*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-block {
}

.container .main-menu {
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.dark-side-logo {
  color: #2e2f42;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  position: relative;
}

.menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.main-menu {
  display: flex;

  column-gap: 40px;
}

.main-menu a:hover,
.main-menu a:focus,
.contacts-link:hover,
.contacts-link:focus,
.menu-link.current {
  color: #404bbf;
}

.main-menu-list {
}

.head-address {
  font-style: normal;
}
.contacts-list {
  display: flex;
}

.header-list:not(:last-child) {
  margin-right: 40px;
}

.contacts-link {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*FIRST SCR SECTION*/
.main-title-text {
  color: white;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.first-scr .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-scr {
  width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.first-scr-btn {
  margin-top: 48px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  min-width: 169px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.first-scr-btn:hover {
  background: #404bbf;
}
.first-scr-btn:focus {
  background: #404bbf;
}

/*BENEFITS SECTION*/
.benefits {
  background-color: #ffffff;
}

.benefits-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.benefits-icon {
}

.benefits-main-list {
  display: flex;
  column-gap: 24px;
}

.benefits-list {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-main-text {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-content-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*TEAM SECTION*/
.team {
  background-color: #f4f4fd;
}

.team-main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  text-align: center;
  background-color: #ffffff;
}

.team-title-text {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-text-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-main-text {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem; /* 120% */
  letter-spacing: 0.025rem;
}

.team-content-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.02rem;
  margin-bottom: 8px;
}

.team-block-icons {
  display: flex;
  gap: 24px;
}

.team-list-icons {
  display: flex;
  column-gap: 24px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

.team-icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

/*PORTFOLIO SECTION*/

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-title-text {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.card-text {
  display: flex;
  height: 120px;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-right: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-left: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.portfolio-content {
  background-color: #ffffff;
}
.portfolio-main-text {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.portfolio-content-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-img {
  position: relative;
}

.overlay {
  opacity: 0;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  background-color: #3f51b5;
  color: #fff;
  font-family: sans-serif;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.portfolio-img:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}

/*FOOTER SECTION*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.white-side-logo {
  color: #f4f4fd;
}
.text-footer {
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
